<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.jyy.project.mapper.BannerMapper">

	<select id="bannerMain" resultType="co.jyy.project.VO.BannerVO">
		select bannerImagine, bannerURL, bannerCompany,  bannerNum
		 from BannerTable
	</select>
	


</mapper>