<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.jyy.project.mapper.UserMapper">

	<select id="User_Test" resultType="co.jyy.project.VO.UserVO">
		<![CDATA[
		select *
		from Test_Table
		where ROWNUM<2
		]]>
		
	</select>
	
	
	<select id="findId" resultType="co.jyy.project.VO.UserVO">
		select userId
		from userTable
		where userId like #{userId}
	</select>
	
	
	<insert id="insertUser">
		insert into userTable(
			userId, password, name,
			gender, mail, userImage
		)values(
			#{userId},#{password},#{name},
			#{gender},#{mail},#{userImage}
		)
		
	</insert>
	
	
	<insert id="insertAddress">
		insert into addressTable(
			userId, addressNumber, address, addressDetail
		)values(
			#{userId}, #{addressNumber}, #{address}, #{addressDetail}
		)
	</insert>

</mapper>